<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <th>Name</th>
            <th>t1</th>
            <th>t2</th>
            <th>t3</th>
            <th>t4</th>
            <th>t5</th>
        </tr>
        {% for item in a %}
        <tr>
            <td>{{ item.NameN }}</td>
            <td>{{  item.t1 }}</td>
            <td>{{  item.t2 }}</td>
            <td>{{ item.t3 }}</td>
            <td>{{ item.t4 }}</td>
            <td>{{ item.t5 }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>